# List

In [1]:
# Data Structure used to store different/same type of data
# can store multiple items under single name, different data types
# lists are dynamic, size can be changed
# Lists are slower than numpy arrays in python
# Lists take more space in memory than numpy Arrays in python
# Homogeneous, if all elements of list are of same type
# Heterogenerous, if there are multiple types of data

In [2]:
# id() prints the memory address.
a=2
print(id(a))

140709412324168

In [3]:
# Lists are refrential arrays, they stores the address of the elements of the List

# Types of List

In [8]:
# empty List
print([])

# 1-D List
print([1,2,3,5,4])

# 2D List
print([[1,2],[3,4],[5,6]])

# 3D List
print([[[1,2],[3,4]],[4,5]])

# Heterogeneus List
print(["Hello",1,1,22,True,2+3j])

# Using type conversion
print(list("Hello"))

[]
[1, 2, 3, 5, 4]
[[1, 2], [3, 4], [5, 6]]
[[[1, 2], [3, 4]], [4, 5]]
['Hello', 1, 1, 22, True, (2+3j)]
['H', 'e', 'l', 'l', 'o']

In [10]:
# Indexing
l=[1,2,3,4,5]

# +ve indexing
print(l[0])
# -ve indexing
print(l[-1])

1
5

In [13]:
l=[[1,2],[3,4],[5,6]]
print(l[1][1])

4

In [18]:
# Slicing
l=[1,2,3,4,5]
print(l[0:3])
print(l[0:5:2])

[1, 2, 3]
[1, 3, 5]

# Adding items in List

In [22]:
l=[1,2,3,4,5]

# append() = add element at end of list, adds single item
l.append(6)
print(l)

# extend() = edd list at end of a given list, adds multiple items
l.extend([7,8,9])
print(l)

# insert(index,data) = edd list at desired position in the list, adds multiple items
l.insert(2,1000)
print(l)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 1000, 3, 4, 5, 6, 7, 8, 9]

# Editing Items in a List

In [26]:
l=[1,2,3,4,5]
print(l)
l[0]=100
print(l)
l[1:5]=[200,300,400,500]
print(l)

[1, 2, 3, 4, 5]
[100, 2, 3, 4, 5]
[100, 200, 300, 400, 500]

# Deleting items from a list

In [27]:
l=[1,2,3,4,5]
print(l)
del l
print(l) # error because the list has been deleted

[1, 2, 3, 4, 5]

NameError: name 'l' is not defined

In [28]:
# del deletes elements by index
l=[1,2,3,4,5]
print(l)
del l[-1]
print(l)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]

In [29]:
l=[1,2,3,4,5]
print(l)
del l[0:3]
print(l)

[1, 2, 3, 4, 5]
[4, 5]

In [30]:
# remove() delete elements by value
l=[1,2,3,4,5]
print(l)
l.remove(5)
print(l)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]

In [31]:
# pop() deletes the index provided, otherwise it delets the last index if no index is provided
# like in stack in DSA
l=[1,2,3,4,5]
print(l)
l.pop()
print(l)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]

In [32]:
# clear() removes all data from the list and makes it an empty list
l=[1,2,3,4,5]
print(l)
l.clear()
print(l)

[1, 2, 3, 4, 5]
[]

# Operations on List

In [34]:
# Arithematic Operations

l=[1,2,3,4,5]
print(l+l) # merges 2 list
print(l*3) # merge list 'n' times

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [36]:
# membership operators
l=[1,2,3,4,5]
print(2 in l)
print(2 not in l)

True
False

In [37]:
# iteration
l=[1,2,3,4,5]
for i in l:
    print(i)

1
2
3
4
5

# Basic List Function

In [52]:
l=[10,20,30,40,50]
print(len(l))
print(min(l))
print(max(l))
print(sorted(l))
print(sorted(l,reverse=True))
print(l.count(20)) # counts the freq of the element

print(l.index(20))
print(l.reverse()) # permanently reverses the list
print(l) # reversed list
print(l.sort()) # permanent sorting

5
10
50
[10, 20, 30, 40, 50]
[50, 40, 30, 20, 10]
1
1
None
[50, 40, 30, 20, 10]
None

In [53]:
# copying a list into another list
l=[1,2,3,4,5]
print(id(l))
l2=l.copy()
print(id(l2))
# values of list are same but the address is different because it creates a shalllow copy of the list in memory

2008715971776
2008715998080

# List Comprehension

In [55]:
# It a shortcut way to create a list

# create a list from 0-10 (normal list)
l=[]
for i in range(1,11): l.append(i)
print(l)

# create a list from 0-10 (comprehension list)
l=[i for i in range(1,11)]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [60]:
# scalar multiplication on list

# normal list:
l=[1,2,3,4,5]
ans=[]
for i in l:
    ans.append(i*-3)
print(ans)

# comprehension list:
l=[-3*i for i in range(1,11)]
print(l)

[-3, -6, -9, -12, -15]
[-3, -6, -9, -12, -15, -18, -21, -24, -27, -30]

In [62]:
# squares of list

# normal list:
l=[1,2,3,4,5]
ans=[]
for i in l:
    ans.append(i**2)
print(ans)

# comprehension list:
l=[i*i for i in range(1,11)]
print(l)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [64]:
# list of all numbers divisible by 5 from 1 to 50:
l=[i for i in range(1,51) if i%5==0]
print(l)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [67]:
# print names starting with 'a'
names=["Ayush","Maksood","Ankit","Joshi"]
l=[name for name in names if name.startswith('A')]
print(l)

['Ayush', 'Ankit']

In [68]:
# nested if with list comprehension
l=[i for i in range(1,101) if i%5==0 if i%3==0]
print(l) # list with numbers divisors of 5 and 3

[15, 30, 45, 60, 75, 90]

In [71]:
# printing a 3*3 matrix
l=[[i*j for i in range(1,5)] for j in range(1,5)]
print(l)

[[1, 2, 3, 4], [2, 4, 6, 8], [3, 6, 9, 12], [4, 8, 12, 16]]

In [75]:
# cartesian product of 2 lists:
l1=[1,2,3,4]
l2=[5,6,7,8]
ans=[[i*j for i in l2] for j in l1]
print(ans)

[[5, 6, 7, 8], [10, 12, 14, 16], [15, 18, 21, 24], [20, 24, 28, 32]]

# Traversing a list

In [81]:
# itemwise:
l=[10,20,30,40,50]
for i in l:
    print(i)


print(30*"_")


# indexwise:
for i in range(0,len(l)):
    print(l[i])

10
20
30
40
50
______________________________
10
20
30
40
50

# Zip()

In [82]:
l1=[1,2,3,4]
l2=[-1,-2,-3,-4]

ans=list(zip(l1,l2))
print(ans)

[(1, -1), (2, -2), (3, -3), (4, -4)]

In [83]:
# can store any kind of abject in list, weather a function or any object
l=[1,True,print,type,input]
print(l)

[1, True, <built-in function print>, <class 'type'>, <bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x000001D3AFB85E50>>]

# Disadvantages of List

In [1]:
# Takes more memory
# Slower
# Risky usage because lists are mutable

# Tuples

In [32]:
# Similar to lists, tuples are immutable while lists 
# tuple are immutable lists
# tuples are ordered, immutable and allows duplicate values.
# tuples are faster than lists because immutable data types are faster.
# tuples take less memory than lists with same number of elements
# list has more functions than tuples
# Tuples are less risky because of immutability.

# Creating tuples

In [7]:
# empty tuple
t=()
print(t)

# tuple with single element
t=(1,)
print(t)

# homogenous tuple
t=(1,2,3,4,5)
print(t)

# heterogeneous tuple
t=(1,True,"Ayush",1.44)
print(t)

# 2D tuple 
t=(1,2,3,4,(1,2))
print(t)

# using type conversion
t=tuple("Hello")
print(t)

()
(1,)
(1, 2, 3, 4, 5)
(1, True, 'Ayush', 1.44)
(1, 2, 3, 4, (1, 2))
('H', 'e', 'l', 'l', 'o')

# Accessing items

In [20]:
t=(1,2,3,4,5,(1,2))

print(t)
print(t[0])
print(t[-1])
print(t[-1][1])
print(t[1:4])
print(t[-1:-4:-1])

(1, 2, 3, 4, 5, (1, 2))
1
(1, 2)
2
(2, 3, 4)
((1, 2), 5, 4)

In [13]:
# editing is not possible
# adding items is not possible

# Deletion

In [15]:
# we can delete the whole tuple but cannot delete the values from the tuple (immutable)
t=(1,2,3,4)
print(t)
del t # deletes whole tuple
print(t)

(1, 2, 3, 4)

NameError: name 't' is not defined

# Opetations on Tuples

In [24]:
# Arithematic
t1=(1,2,3)
t2=(5,6,7)
print(t1+t2)
print(t1*3)
for i in t1: print(i)

(1, 2, 3, 5, 6, 7)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
1
2
3

# Functions on Tuples

In [30]:
t=(1,3,2,4,6,5)
print(t)
print(len(t))
print(max(t))
print(min(t))
print(sorted(t))
print(sorted(t,reverse=True))

print(t.count(4))
print(t.index(1))

(1, 3, 2, 4, 6, 5)
6
6
1
[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]
1
0

# Special Syntaxes in Tuples

In [37]:
# tuple unpacking
a,b,c=(1,2,3)
print(a,b,c)

a,b,*others=(1,2,3,4,5,)
print(a,b,c)
print(others)

1 2 3
1 2 3
[3, 4, 5]

In [36]:
# swapping of two numbers
a=2
b=4
print("Before:",a,b)
a,b=b,a
print("After:",a,b)

Before: 2 4
After: 4 2

In [41]:
# Zip() function = creates mapping bw 2 data types
a=(1,2,3)
b=(4,5,6)
print(zip(a,b))
print(list(zip(a,b)))
print(tuple(zip(a,b)))

<zip object at 0x0000022673168A80>
[(1, 4), (2, 5), (3, 6)]
((1, 4), (2, 5), (3, 6))

# Sets

In [42]:
# unordered collection of items
# only unique elements and stores only immutable items
# set itself is mutable
# 2D sets is impossible

# Creation of Sets

In [60]:
# empty set
s={}
print(s)
print(type(s))

s=set()
print(s)
print(type(s))

# 1D set
s={1,2,3}
print(s)

# 2D sets are not possible
# s={1,2,3,4,5,{1,2}} # error

# homogenous sets
s={1,2,3,4,5}
print(s)

# heterogenous sets
s={1,2.44,True,"Hello"} # true and 1 are treated as same, hence only unique values
print(s)

# using type conversion
s=set([1,2,3,4,5])
print(s)

s1={1,3,2}
s2={1,2,3}
print(s1==s2) # order doesn't matter

{}
<class 'dict'>
set()
<class 'set'>
{1, 2, 3}
{1, 2, 3, 4, 5}
{1, 2.44, 'Hello'}
{1, 2, 3, 4, 5}
True

In [61]:
# Accessing items is not allowed beacuse it is unordered

In [62]:
# editing not works because indexing not allowed beacuse sets are unordered

In [65]:
# adding items in set
s={1,2,3}
s.add(45)
print(s)

# update = add multiple items to set
s={1,2,3}
s.update([4,5,6,7])
print(s)

{1, 2, 3, 45}
{1, 2, 3, 4, 5, 6, 7}

# Deleting items

In [77]:
# del = deletes the set
s={1,2,3,4}
print(s)
del s

# discard = deletes single item from the set with given value, not gives error is element is not found
s={1,2,3,4,5}
s.discard(3)
print(s)

# remove = same as discard but gives error if element is not found
s.remove(2)
print(s)

# pop =  randomly deletes any item
s={1,2,3,4,5}
s.pop()
print(s)

# clear = deletes all items from the set, makes the set empty
s.clear()
print(s)

{1, 2, 3, 4}
{1, 2, 4, 5}
{1, 4, 5}
{2, 3, 4, 5}
set()

# Operations on sets

In [95]:
s1={1,2,3,4,5,6}
s2={4,5,6,7,8,9}
s1.
# union = sll values
print(s1 | s2)
print(s1.union(s2))

# intersection = commom values
print(s1 & s2)
print(s1.intersection(s2))

# difference
print(s1 - s2)

# difference
print(s2 - s1)

# symmetric difference = removes common values
print(s1 ^ s2)

# membership operators
print(1 in {1,2,3,4})
print(2 not in {1,2,3,4})

# iteration
s={1,2,3,4,5}
for i in s:
    print(i)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}
{1, 2, 3}
{8, 9, 7}
{1, 2, 3, 7, 8, 9}
True
False
1
2
3
4
5

# Set Functions

In [88]:
s={1,3,2,4,6,5}
print(s)
print(len(s))
print(max(s))
print(min(s))
print(sorted(s))
print(sorted(s,reverse=True))

{1, 2, 3, 4, 5, 6}
6
6
1
[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

AttributeError: 'set' object has no attribute 'count'

In [98]:
# union_update() or update()
s1={1,2,3,4,5,6}
s2={4,5,6,7,8,9}
s1.update(s2)
print(s1)
print(s2)

# intersection update
s1={1,2,3,4,5,6}
s2={4,5,6,7,8,9}
s1.intersection_update(s2)
print(s1)
print(s2)

# difference update
s1={1,2,3,4,5,6}
s2={4,5,6,7,8,9}
s1.difference_update(s2)
print(s1)
print(s2)

# symmetric difference update
s1={1,2,3,4,5,6}
s2={4,5,6,7,8,9}
s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6, 7, 8, 9}
{1, 2, 3}
{4, 5, 6, 7, 8, 9}
{1, 2, 3, 7, 8, 9}
{4, 5, 6, 7, 8, 9}

# Other Functions

In [104]:
s1={1,2,3}
s2={1,2,3,7,8,9}

# isdisjoint() = True if no commmon items in two given sets
print(s1.isdisjoint(s2))

# issubset() = checks that s2 is a subset of s1
print(s1.issubset(s2))

# issuperset() = checks that s2 is a superset of s1
print(s2.issuperset(s1))

False
True
True

In [105]:
# copy() = creates a copy of set
s1={1,2,3,4,5}
s2=s1.copy()
print(s1)
print(s2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

# Frozen Set

In [110]:
# like set but immutable

fs=frozenset([1,2,3,4,5])
print(fs)

# all operations of set are possible in frozenSet also except those which changes sets.

# 2D FrozenSet
fs=frozenset([1,2,3,4,5,(1,2,3,4)])
print(fs)

frozenset({1, 2, 3, 4, 5})
frozenset({1, 2, 3, 4, 5, (1, 2, 3, 4)})

# Set Comprehension

In [112]:
# same as lists
s={i for i in range(1,11)}
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Dictionary

In [113]:
# stores key:value pair, like maps in c++
# they are mutable
# no meaning indexing
# keys should se unique
# keys can't be mutable

# Creating Dictionary

In [128]:
 # empty dictionary
d={}
print(d)
print(type(d))

# 1D Dictionary
d={"Name":"Ayush","Address":"kaladhungi","Age":12}
print(d)

# dict with mixed keys
d={(1,2,3):"Ayush","Address":"kaladhungi","Age":12}
print(d)

# 2D Dictionary , JSON follows 2D dictionary format
dict={
    "name":"Ayush",
    "Course":"BTech",
    "Subkects": {
        "dsa":23,
        "cbnst":32,
        "dbms":32
    }
}
print(dict)

# using sequence and dictionary
# d=dict([("name","ayush"),("Semester","3"),("Course","BTech")])
print(d)

# keys should be unique
d={"Name":"Ayush","Name":"Joshi"}
print(d) # gives the last updated values

{}
<class 'dict'>
{'Name': 'Ayush', 'Address': 'kaladhungi', 'Age': 12}
{(1, 2, 3): 'Ayush', 'Address': 'kaladhungi', 'Age': 12}
{'name': 'Ayush', 'Course': 'BTech', 'Subkects': {'dsa': 23, 'cbnst': 32, 'dbms': 32}}
{(1, 2, 3): 'Ayush', 'Address': 'kaladhungi', 'Age': 12}
{'Name': 'Joshi'}

# Accessing Items

In [145]:
d={"Name":"Ayush","Address":"kaladhungi","Age":12}
print(d["Name"])
print(d.get("Name"))


dict={
    "name":"Ayush",
    "Course":"BTech",
    "Subjects": {
        "dsa":23,
        "cbnst":32,
        "dbms":32
    }
}
print(dict)
print(dict["Subjects"]["dbms"])

Ayush
Ayush
{'name': 'Ayush', 'Course': 'BTech', 'Subjects': {'dsa': 23, 'cbnst': 32, 'dbms': 32}}
32

# Adding Key:Valaue pairs

In [134]:
d={"Name":"Ayush","Address":"kaladhungi","Age":12}
d["Gender"]="Male"
print(d)
d["Height"]="172 cm"
print(d)

{'Name': 'Ayush', 'Address': 'kaladhungi', 'Age': 12, 'Gender': 'Male'}
{'Name': 'Ayush', 'Address': 'kaladhungi', 'Age': 12, 'Gender': 'Male', 'Height': '172 cm'}

# Removing Key:Value pairs

In [147]:
# pop(key) = deletes the entry corresponding to key
d={"Name":"Ayush","Address":"kaladhungi","Age":12}
print(d)
d.pop("Age")
print(d)

# pop_item() = deletes last key:value pair
d={"Name":"Ayush","Address":"kaladhungi","Age":12}
print(d)
d.popitem()
print(d)

# del() = deletes whole dictionary 
d={"Name":"Ayush","Address":"kaladhungi","Age":12}
print(d)
del d["Age"] # deletes specific key:value pair
del d

# clear = deletes all key:value pairs from the dictionary 
d={"Name":"Ayush","Address":"kaladhungi","Age":12}
print(d)
d.clear()
print(d)

{'Name': 'Ayush', 'Address': 'kaladhungi', 'Age': 12}
{'Name': 'Ayush', 'Address': 'kaladhungi'}
{'Name': 'Ayush', 'Address': 'kaladhungi', 'Age': 12}
{'Name': 'Ayush', 'Address': 'kaladhungi'}
{'Name': 'Ayush', 'Address': 'kaladhungi', 'Age': 12}
{'Name': 'Ayush', 'Address': 'kaladhungi', 'Age': 12}
{}

# Editing Key:Value pairs

In [148]:
d={"Name":"Ayush","Address":"kaladhungi","Age":12}
print(d)
d["Address"]="Bhowali"
print(d)

{'Name': 'Ayush', 'Address': 'kaladhungi', 'Age': 12}
{'Name': 'Ayush', 'Address': 'Bhowali', 'Age': 12}

# Operations on Dictionary

In [153]:
# membership operator = searches for key
d={"Name":"Ayush","Address":"kaladhungi","Age":12}
print("Age" in d) # searches kry
print("Ayush" in d) # searches kry

for i in d:
    print(i,":",d[i])

True
False
Name : Ayush
Address : kaladhungi
Age : 12

In [159]:
d={"Name":"Ayush","Address":"kaladhungi","Age":12}
print(len(d))
print(sorted(d)) # ascii based
print(sorted(d,reverse=True)) # ascii based
print(max(d)) # based on ascii

3
['Address', 'Age', 'Name']
['Name', 'Age', 'Address']
Name

In [161]:
d={"Name":"Ayush","Address":"kaladhungi","Age":12}
print(d.items()) # all pairs
print(d.keys()) # all keys
print(d.values()) # all values

dict_items([('Name', 'Ayush'), ('Address', 'kaladhungi'), ('Age', 12)])
dict_keys(['Name', 'Address', 'Age'])
dict_values(['Ayush', 'kaladhungi', 12])

In [164]:
# update
d1={1:2,3:4,4:5}
d2={4:10,5:32}
print(d1)
d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 5}
{1: 2, 3: 4, 4: 10, 5: 32}

# Dictionary Comprehension

In [170]:
# dict with key as n and values as number ka square
d={i:i**2 for i in range(1,11)}
print(d)

# using existing dictionary
d={"delhi":1000,"haldwani":2000,"kaladhungi":3000}
print(d)
dict={key:value*2 for (key,value) in d.items()}
print(dict)

# using zip()
keys=["Sunday","Monday","Tuesday","Wednesday","Thursday"]
values=[0,1,2,3,4]
d={i:j for (i,j) in zip(keys,values)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
{'delhi': 1000, 'haldwani': 2000, 'kaladhungi': 3000}
{'delhi': 2000, 'haldwani': 4000, 'kaladhungi': 6000}
{'Sunday': 0, 'Monday': 1, 'Tuesday': 2, 'Wednesday': 3, 'Thursday': 4}

In [174]:
products={"Laptop":10,"Charger":0,"Phones":32,"Headphones":43}
d={key:value for (key,value) in products.items() if value>0}
print(d)

{'Laptop': 10, 'Phones': 32, 'Headphones': 43}

# Nested Comprehension

In [176]:
dict={
    2:{1:2,2:4,3:6},
    3:{1:3,2:6,3:9},
    4:{1:4,2:8,3:12},
}
print(dict)

{2: {1: 2, 2: 4, 3: 6}, 3: {1: 3, 2: 6, 3: 9}, 4: {1: 4, 2: 8, 3: 12}}

In [183]:
# print tables from 2 to 10
dict={i:{j:i*j for j in range(1,11)} for i in range(2,5)}
for i in dict:
    print(i,"-->",dict[i])

2 --> {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20}
3 --> {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30}
4 --> {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}